body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    overflow-x: auto;
    font-size: 14px;
    border-radius: 5px;
}

code {
    color: #f8f8f2;
    font-family: 'Courier New', monospace;
}